{% extends 'base.html' %}

{% block body %}
    <div id="messages"></div>
    <div class="container">
        <h1 class="pt-3 text-center">Editar curvado em atraso</h1>
        <hr>
        <div class="row d-flex justify-content-center">
            <form method="POST" action="" class="border m-5 p-5 w-100 p-3 shadow p-3 mb-5 bg-body rounded">
                {{ formCurvado.csrf_token }}
                <legend class="text-center">ATRASO CURVADOS</legend>
                <fieldset>

                    <div class="row mt-2">
                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.data.label(class="form-control-label") }}


                                {% if formCurvado.data.errors %}
                                    {{ formCurvado.data(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.data.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.data(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.lote.label(class="form-control-label") }}

                                {% if formCurvado.lote.errors %}
                                    {{ formCurvado.lote(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.lote.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.lote(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.pecas.label(class="form-control-label") }}


                                {% if formCurvado.pecas.errors %}
                                    {{ formCurvado.pecas(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.pecas.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.pecas(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.cor.label(class="form-control-label") }}

                                {% if formCurvado.cor.errors %}
                                    {{ formCurvado.cor(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.cor.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.cor(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="form-group mt-2">
                            {{ formCurvado.obs.label(class="form-control-label") }}
                            {{ formCurvado.obs(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.quantidadeTotal.label(class="form-control-label") }}


                                {% if formCurvado.quantidadeTotal.errors %}
                                    {{ formCurvado.quantidadeTotal(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.quantidadeTotal.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.quantidadeTotal(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.quantidadeEntregue.label(class="form-control-label") }}

                                {% if formCurvado.quantidadeEntregue.errors %}
                                    {{ formCurvado.quantidadeEntregue(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.quantidadeEntregue.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.quantidadeEntregue(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </fieldset>
                <div class="form-group text-center mt-3">
                    {{ formCurvado.editarAtraso(class="btn btn-outline-primary") }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}