{% extends 'base.html' %}

{% block body %}
    <div id="messages"></div>
    <div class="container">
        <h1 class="pt-3 text-center">Editar curvado em atraso</h1>
        <hr>
        <div class="row d-flex justify-content-center">
            <form method="POST" action="" class="border m-5 p-5 w-100 p-3 shadow p-3 mb-5 bg-body rounded">
                {{ formCurvado.csrf_token }}
                <legend class="text-center">ATRASO CURVADOS</legend>
                <fieldset>

                    <div class="row mt-2">
                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.data.label(class="form-control-label") }}


                                {% if formCurvado.data.errors %}
                                    {{ formCurvado.data(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.data.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.data(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.lote.label(class="form-control-label") }}

                                {% if formCurvado.lote.errors %}
                                    {{ formCurvado.lote(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.lote.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.lote(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.pecas.label(class="form-control-label") }}


                                {% if formCurvado.pecas.errors %}
                                    {{ formCurvado.pecas(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.pecas.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.pecas(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-2">
                            <div class="form-group mt-2">
                                {{ formCurvado.cor.label(class="form-control-label") }}

                                {% if formCurvado.cor.errors %}
                                    {{ formCurvado.cor(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.cor.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.cor(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                    </div>

                    <div class="row mt-2">
                        <div class="form-group mt-2">
                            {{ formCurvado.obs.label(class="form-control-label") }}
                            {{ formCurvado.obs(class="form-control") }}
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.quantidadeTotal.label(class="form-control-label") }}


                                {% if formCurvado.quantidadeTotal.errors %}
                                    {{ formCurvado.quantidadeTotal(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.quantidadeTotal.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.quantidadeTotal(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group mt-2">
                                {{ formCurvado.quantidadeEntregue.label(class="form-control-label") }}

                                {% if formCurvado.quantidadeEntregue.errors %}
                                    {{ formCurvado.quantidadeEntregue(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for erro in formCurvado.quantidadeEntregue.errors %}
                                            {{ erro }}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ formCurvado.quantidadeEntregue(class="form-control") }}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </fieldset>

                <div class="form-group text-center mt-3">
                    {{ formCurvado.editarAtraso(class="btn btn-outline-primary") }}

                    <a href="{{ url_for('Curvado', curvado_id=curvado.id) }}" class="text-danger" data-bs-toggle="modal"
                       data-bs-target="#exampleModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-trash3-fill" viewBox="0 0 16 16"
                             style="width: 1.5rem; height: 1.5rem; text-decoration: none; margin: 0; padding: 0">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg>
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir curvado</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Você quer realmente excluir? Essa ação não pode ser desfeita.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <form method="POST" action="{{ url_for('excluirCurvado', curvado_id=curvado.id) }}">
                        <button type="submit" class="btn btn-danger">Excluir</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}