<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #003366;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}" data-bs-theme="ligth">Estoque</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown_1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Atrasos
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                        <li><a class="dropdown-item" href="{{ url_for('atrasoCadeiras') }}">Cadeiras</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('atrasoCurvados') }}">Curvados</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown_2" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Listar Atraso
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                        <li><a class="dropdown-item" href="{{ url_for('listarCadeiras') }}">Cadeiras</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ url_for('listarCurvados') }}">Curvados</a></li>
                    </ul>
                </li>

            </ul>
            <div class="mt-1" style="color: white">
                <h5>Sier Moveis - Atrasos Estoque - Unidade 2</h5>
            </div>
        </div>
    </div>
</nav>